electricitybillpaymentapi/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="ElectricityBillPayment-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="ElectricityBillPayment-config" api="ElectricityBillPayment.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="ElectricityBillPayment-main">
        <http:listener config-ref="ElectricityBillPayment-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ElectricityBillPayment-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="ElectricityBillPayment-console">
        <http:listener config-ref="ElectricityBillPayment-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ElectricityBillPayment-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\User\UpdatePass\(userName)\(oldPass)\(newPass):application\json:ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userName">attributes.uriParams.'userName'</ee:set-variable>
                <ee:set-variable variableName="oldPass">attributes.uriParams.'oldPass'</ee:set-variable>
                <ee:set-variable variableName="newPass">attributes.uriParams.'newPass'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Password Updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\Customer\editCustomer:application\json:ElectricityBillPayment-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Customer Updated Successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\connection\modifyAddress:application\json:ElectricityBillPayment-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Connection address updated."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Bill\BillBetweenDates\(d1)\(d2):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="d1">attributes.uriParams.'d1'</ee:set-variable>
                <ee:set-variable variableName="d2">attributes.uriParams.'d2'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    ID: 1,
    date: "19/10/2022",
    dueDate: "19/11/2022",
    unitConsumed: 20,
    billAmount: 120
  }, 
  {
    ID: 2,
    date: "11/10/2022",
    dueDate: "11/11/2022",
    unitConsumed: 50,
    billAmount: 500
  }, 
  {
    ID: 3,
    date: "13/10/2022",
    dueDate: "13/11/2022",
    unitConsumed: 40,
    billAmount: 240
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Bill\BillbyConsumerNumber\(cnum):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="cnum">attributes.uriParams.'cnum'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  ID: 1,
  date: "19/10/2022",
  dueDate: "19/11/2022",
  unitConsumed: 20,
  billAmount: 120
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Bill\BillbyEmail\(email):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="email">attributes.uriParams.'email'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  ID: 1,
  date: "19/10/2022",
  dueDate: "19/11/2022",
  unitConsumed: 20,
  billAmount: 120
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Bill\BillbyMobileNumber\(mNum):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="mNum">attributes.uriParams.'mNum'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  ID: 1,
  date: "19/10/2022",
  dueDate: "19/11/2022",
  unitConsumed: 20,
  billAmount: 120
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Bill\CalculateEnergyBill\(Reading):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="Reading">attributes.uriParams.'Reading'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  billAmount: 120
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Bill\EmailBillToCustomer\(email):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="email">attributes.uriParams.'email'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "email has been sent"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Payment:ElectricityBillPayment-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    paymentID: 1,
    paymentDate: "2022-09-02",
    totalPaymentCharges: 20,
    totalPaid: 2000,
    status: "paid",
    paymentMode: "CREDIT"
  }, 
  {
    paymentID: 2,
    paymentDate: "2022-09-03",
    totalPaymentCharges: 20,
    totalPaid: 4000,
    status: "paid",
    paymentMode: "DEBIT"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\connection\activeConnections\(district):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="district">attributes.uriParams.'district'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    connectionId: 1,
    consumerNumber: 1234,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: true,
    customerConnection: {},
    connectionAddress: {
      addressId: 1,
      flatOrHouseNumber: 10,
      buildingName: "King's plaza",
      landmark: "Reave street",
      village: "Cuncolim",
      taluka: "South",
      district: "Salcete",
      state: "Goa",
      pincode: "400344"
    },
    connectionType: "NON_INDUSTRIAL"
  }, 
  {
    connectionId: 2,
    consumerNumber: 2345,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: false,
    customerConnection: {},
    connectionAddress: {
      addressId: 2,
      flatOrHouseNumber: 11,
      buildingName: "Queen's plaza",
      landmark: "Naive street",
      village: "Assolna",
      taluka: "South",
      district: "Salcete",
      state: "Goa",
      pincode: "400544"
    },
    connectionType: "INDUSTRIAL"
  }, 
  {
    connectionId: 3,
    consumerNumber: 3456,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: true,
    customerConnection: {},
    connectionAddress: {
      addressId: 3,
      flatOrHouseNumber: 12,
      buildingName: "Jack's plaza",
      landmark: "Jack street",
      village: "Quepem",
      taluka: "North",
      district: "Salcete",
      state: "Goa",
      pincode: "420344"
    },
    connectionType: "NON_INDUSTRIAL"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\connection\activeConnections\(pincode):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="pincode">attributes.uriParams.'pincode'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    connectionId: 1,
    consumerNumber: 1234,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: true,
    customerConnection: {},
    connectionAddress: {
      addressId: 1,
      flatOrHouseNumber: 10,
      buildingName: "King's plaza",
      landmark: "Reave street",
      village: "Cuncolim",
      taluka: "South",
      district: "Salcete",
      state: "Goa",
      pincode: "400344"
    },
    connectionType: "NON_INDUSTRIAL"
  }, 
  {
    connectionId: 2,
    consumerNumber: 2345,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: false,
    customerConnection: {},
    connectionAddress: {
      addressId: 2,
      flatOrHouseNumber: 11,
      buildingName: "Queen's plaza",
      landmark: "Naive street",
      village: "Assolna",
      taluka: "South",
      district: "Salcete",
      state: "Goa",
      pincode: "400544"
    },
    connectionType: "INDUSTRIAL"
  }, 
  {
    connectionId: 3,
    consumerNumber: 3456,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: true,
    customerConnection: {},
    connectionAddress: {
      addressId: 3,
      flatOrHouseNumber: 12,
      buildingName: "Jack's plaza",
      landmark: "Jack street",
      village: "Quepem",
      taluka: "North",
      district: "Salcete",
      state: "Goa",
      pincode: "420344"
    },
    connectionType: "NON_INDUSTRIAL"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\connection\activeConnections\(state):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="state">attributes.uriParams.'state'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    connectionId: 1,
    consumerNumber: 1234,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: true,
    customerConnection: {},
    connectionAddress: {
      addressId: 1,
      flatOrHouseNumber: 10,
      buildingName: "King's plaza",
      landmark: "Reave street",
      village: "Cuncolim",
      taluka: "South",
      district: "Salcete",
      state: "Goa",
      pincode: "400344"
    },
    connectionType: "NON_INDUSTRIAL"
  }, 
  {
    connectionId: 2,
    consumerNumber: 2345,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: false,
    customerConnection: {},
    connectionAddress: {
      addressId: 2,
      flatOrHouseNumber: 11,
      buildingName: "Queen's plaza",
      landmark: "Naive street",
      village: "Assolna",
      taluka: "South",
      district: "Salcete",
      state: "Goa",
      pincode: "400544"
    },
    connectionType: "INDUSTRIAL"
  }, 
  {
    connectionId: 3,
    consumerNumber: 3456,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: true,
    customerConnection: {},
    connectionAddress: {
      addressId: 3,
      flatOrHouseNumber: 12,
      buildingName: "Jack's plaza",
      landmark: "Jack street",
      village: "Quepem",
      taluka: "North",
      district: "Salcete",
      state: "Goa",
      pincode: "420344"
    },
    connectionType: "NON_INDUSTRIAL"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\connection\activeConnections\(village):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="village">attributes.uriParams.'village'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    connectionId: 1,
    consumerNumber: 1234,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: true,
    customerConnection: {},
    connectionAddress: {
      addressId: 1,
      flatOrHouseNumber: 10,
      buildingName: "King's plaza",
      landmark: "Reave street",
      village: "Cuncolim",
      taluka: "South",
      district: "Salcete",
      state: "Goa",
      pincode: "400344"
    },
    connectionType: "NON_INDUSTRIAL"
  }, 
  {
    connectionId: 2,
    consumerNumber: 2345,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: false,
    customerConnection: {},
    connectionAddress: {
      addressId: 2,
      flatOrHouseNumber: 11,
      buildingName: "Queen's plaza",
      landmark: "Naive street",
      village: "Assolna",
      taluka: "South",
      district: "Salcete",
      state: "Goa",
      pincode: "400544"
    },
    connectionType: "INDUSTRIAL"
  }, 
  {
    connectionId: 3,
    consumerNumber: 3456,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: true,
    customerConnection: {},
    connectionAddress: {
      addressId: 3,
      flatOrHouseNumber: 12,
      buildingName: "Jack's plaza",
      landmark: "Jack street",
      village: "Quepem",
      taluka: "North",
      district: "Salcete",
      state: "Goa",
      pincode: "420344"
    },
    connectionType: "NON_INDUSTRIAL"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\connection\connByCNum\(consumerNumber):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="consumerNumber">attributes.uriParams.'consumerNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  customerConnection: {
    CustomerIdExample: {
      addharNumber: 456378652345,
      customerId: 1,
      email: "Halliee@gmail.com",
      firstName: "Halliee",
      gender: "F",
      lastName: "Brewer",
      middleName: "K",
      mobileNumber: 9856347823
    }
  },
  connectionId: 1,
  consumerNumber: 1234,
  applicationDate: "2021-01-02",
  connectionDate: "2021-02-02",
  connectionStatus: true,
  connectionAddress: {
    addressId: 1,
    flatOrHouseNumber: 10,
    buildingName: "King's plaza",
    landmark: "Reave street",
    village: "Cuncolim",
    taluka: "South",
    district: "Salcete",
    state: "Goa",
    pincode: "400344"
  },
  connectionType: "NON_INDUSTRIAL"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\connection:ElectricityBillPayment-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  customerConnection: {
    CustomerIdExample: {
      addharNumber: 456378652345,
      customerId: 1,
      email: "Halliee@gmail.com",
      firstName: "Halliee",
      gender: "F",
      lastName: "Brewer",
      middleName: "K",
      mobileNumber: 9856347823
    }
  },
  connectionId: 1,
  consumerNumber: 1234,
  applicationDate: "2021-01-02",
  connectionDate: "2021-02-02",
  connectionStatus: true,
  connectionAddress: {
    addressId: 1,
    flatOrHouseNumber: 10,
    buildingName: "King's plaza",
    landmark: "Reave street",
    village: "Cuncolim",
    taluka: "South",
    district: "Salcete",
    state: "Goa",
    pincode: "400344"
  },
  connectionType: "NON_INDUSTRIAL"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\connection\custByCNum\(consumerNumber):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="consumerNumber">attributes.uriParams.'consumerNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  CustomerIdExample: {
    addharNumber: 456378652345,
    customerId: 1,
    email: "Halliee@gmail.com",
    firstName: "Halliee",
    gender: "F",
    lastName: "Brewer",
    middleName: "K",
    mobileNumber: 9856347823
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\findMeterReadingByConsumerNumber:ElectricityBillPayment-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    ReadingId: 101,
    "Units Consumed": 30,
    "Reading Photo": "EEs1233455",
    "Reading Date": "2022/11/01",
    PricePerUnits: 10
  }, 
  {
    ReadingId: 102,
    "Units Consumed": 25,
    "Reading Photo": "EEs1233475",
    "Reading Date": "2022/10/01",
    PricePerUnits: 10
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\findMeterReadingByConsumerNumberAndBillDate:ElectricityBillPayment-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    ReadingId: 101,
    "Units Consumed": 30,
    "Reading Photo": "EEs1233455",
    "Reading Date": "2022/11/01",
    PricePerUnits: 10
  }, 
  {
    ReadingId: 102,
    "Units Consumed": 25,
    "Reading Photo": "EEs1233475",
    "Reading Date": "2022/10/01",
    PricePerUnits: 10
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\User\forgotPass\(userName):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userName">attributes.uriParams.'userName'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"userName:User userId:101 password:User@2000"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Customer\getCustByAdhar\(adhar):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="adhar">attributes.uriParams.'adhar'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  CustomerIdExample: {
    addharNumber: 456378652345,
    customerId: 1,
    email: "Halliee@gmail.com",
    firstName: "Halliee",
    gender: "F",
    lastName: "Brewer",
    middleName: "K",
    mobileNumber: 9856347823
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Customer\getCustByEmail\(mail):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="mail">attributes.uriParams.'mail'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  CustomerIdExample: {
    addharNumber: 456378652345,
    customerId: 1,
    email: "Halliee@gmail.com",
    firstName: "Halliee",
    gender: "F",
    lastName: "Brewer",
    middleName: "K",
    mobileNumber: 9856347823
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Customer\getCustById\(id):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  CustomerIdExample: {
    addharNumber: 456378652345,
    customerId: 1,
    email: "Halliee@gmail.com",
    firstName: "Halliee",
    gender: "F",
    lastName: "Brewer",
    middleName: "K",
    mobileNumber: 9856347823
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Customer\getCustByMobile\(mobile):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="mobile">attributes.uriParams.'mobile'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  CustomerIdExample: {
    addharNumber: 456378652345,
    customerId: 1,
    email: "Halliee@gmail.com",
    firstName: "Halliee",
    gender: "F",
    lastName: "Brewer",
    middleName: "K",
    mobileNumber: 9856347823
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Customer\getCustByName\(fname):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="fname">attributes.uriParams.'fname'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  CustomerIdExample: {
    addharNumber: 456378652345,
    customerId: 1,
    email: "Halliee@gmail.com",
    firstName: "Halliee",
    gender: "F",
    lastName: "Brewer",
    middleName: "K",
    mobileNumber: 9856347823
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\connection\inactiveConnections\(district):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="district">attributes.uriParams.'district'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    connectionId: 1,
    consumerNumber: 1234,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: true,
    customerConnection: {},
    connectionAddress: {
      addressId: 1,
      flatOrHouseNumber: 10,
      buildingName: "King's plaza",
      landmark: "Reave street",
      village: "Cuncolim",
      taluka: "South",
      district: "Salcete",
      state: "Goa",
      pincode: "400344"
    },
    connectionType: "NON_INDUSTRIAL"
  }, 
  {
    connectionId: 2,
    consumerNumber: 2345,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: false,
    customerConnection: {},
    connectionAddress: {
      addressId: 2,
      flatOrHouseNumber: 11,
      buildingName: "Queen's plaza",
      landmark: "Naive street",
      village: "Assolna",
      taluka: "South",
      district: "Salcete",
      state: "Goa",
      pincode: "400544"
    },
    connectionType: "INDUSTRIAL"
  }, 
  {
    connectionId: 3,
    consumerNumber: 3456,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: true,
    customerConnection: {},
    connectionAddress: {
      addressId: 3,
      flatOrHouseNumber: 12,
      buildingName: "Jack's plaza",
      landmark: "Jack street",
      village: "Quepem",
      taluka: "North",
      district: "Salcete",
      state: "Goa",
      pincode: "420344"
    },
    connectionType: "NON_INDUSTRIAL"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\connection\inactiveConnections\(pincode):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="pincode">attributes.uriParams.'pincode'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    connectionId: 1,
    consumerNumber: 1234,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: true,
    customerConnection: {},
    connectionAddress: {
      addressId: 1,
      flatOrHouseNumber: 10,
      buildingName: "King's plaza",
      landmark: "Reave street",
      village: "Cuncolim",
      taluka: "South",
      district: "Salcete",
      state: "Goa",
      pincode: "400344"
    },
    connectionType: "NON_INDUSTRIAL"
  }, 
  {
    connectionId: 2,
    consumerNumber: 2345,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: false,
    customerConnection: {},
    connectionAddress: {
      addressId: 2,
      flatOrHouseNumber: 11,
      buildingName: "Queen's plaza",
      landmark: "Naive street",
      village: "Assolna",
      taluka: "South",
      district: "Salcete",
      state: "Goa",
      pincode: "400544"
    },
    connectionType: "INDUSTRIAL"
  }, 
  {
    connectionId: 3,
    consumerNumber: 3456,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: true,
    customerConnection: {},
    connectionAddress: {
      addressId: 3,
      flatOrHouseNumber: 12,
      buildingName: "Jack's plaza",
      landmark: "Jack street",
      village: "Quepem",
      taluka: "North",
      district: "Salcete",
      state: "Goa",
      pincode: "420344"
    },
    connectionType: "NON_INDUSTRIAL"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\connection\inactiveConnections\(state):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="state">attributes.uriParams.'state'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    connectionId: 1,
    consumerNumber: 1234,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: true,
    customerConnection: {},
    connectionAddress: {
      addressId: 1,
      flatOrHouseNumber: 10,
      buildingName: "King's plaza",
      landmark: "Reave street",
      village: "Cuncolim",
      taluka: "South",
      district: "Salcete",
      state: "Goa",
      pincode: "400344"
    },
    connectionType: "NON_INDUSTRIAL"
  }, 
  {
    connectionId: 2,
    consumerNumber: 2345,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: false,
    customerConnection: {},
    connectionAddress: {
      addressId: 2,
      flatOrHouseNumber: 11,
      buildingName: "Queen's plaza",
      landmark: "Naive street",
      village: "Assolna",
      taluka: "South",
      district: "Salcete",
      state: "Goa",
      pincode: "400544"
    },
    connectionType: "INDUSTRIAL"
  }, 
  {
    connectionId: 3,
    consumerNumber: 3456,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: true,
    customerConnection: {},
    connectionAddress: {
      addressId: 3,
      flatOrHouseNumber: 12,
      buildingName: "Jack's plaza",
      landmark: "Jack street",
      village: "Quepem",
      taluka: "North",
      district: "Salcete",
      state: "Goa",
      pincode: "420344"
    },
    connectionType: "NON_INDUSTRIAL"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\connection\inactiveConnections\(village):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="village">attributes.uriParams.'village'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    connectionId: 1,
    consumerNumber: 1234,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: true,
    customerConnection: {},
    connectionAddress: {
      addressId: 1,
      flatOrHouseNumber: 10,
      buildingName: "King's plaza",
      landmark: "Reave street",
      village: "Cuncolim",
      taluka: "South",
      district: "Salcete",
      state: "Goa",
      pincode: "400344"
    },
    connectionType: "NON_INDUSTRIAL"
  }, 
  {
    connectionId: 2,
    consumerNumber: 2345,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: false,
    customerConnection: {},
    connectionAddress: {
      addressId: 2,
      flatOrHouseNumber: 11,
      buildingName: "Queen's plaza",
      landmark: "Naive street",
      village: "Assolna",
      taluka: "South",
      district: "Salcete",
      state: "Goa",
      pincode: "400544"
    },
    connectionType: "INDUSTRIAL"
  }, 
  {
    connectionId: 3,
    consumerNumber: 3456,
    applicationDate: "2021-01-02",
    connectionDate: "2021-02-02",
    connectionStatus: true,
    customerConnection: {},
    connectionAddress: {
      addressId: 3,
      flatOrHouseNumber: 12,
      buildingName: "Jack's plaza",
      landmark: "Jack street",
      village: "Quepem",
      taluka: "North",
      district: "Salcete",
      state: "Goa",
      pincode: "420344"
    },
    connectionType: "NON_INDUSTRIAL"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\User\loginU\(userName)\(pass):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userName">attributes.uriParams.'userName'</ee:set-variable>
                <ee:set-variable variableName="pass">attributes.uriParams.'pass'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"userName:User userId:101 password:User@2000"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\User\searchUserByUserId:ElectricityBillPayment-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"userName:User userId:101 password:User@2000"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\User\searchUserByUserName:ElectricityBillPayment-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"userName:User userId:101 password:User@2000"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\Reading:application\json:ElectricityBillPayment-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Reading submitted successfully."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\User\Register:application\json:ElectricityBillPayment-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "User Added Successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\connection\newConnection:application\json:ElectricityBillPayment-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "New Connection added."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\Customer\newCustomer:application\json:ElectricityBillPayment-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Customer Added Successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\payBill\(consumerNumber):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="consumerNumber">attributes.uriParams.'consumerNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Bill paid!!"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\sendEmailOnPayment\(consumerNumber):ElectricityBillPayment-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="consumerNumber">attributes.uriParams.'consumerNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Email sent successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
